.input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 0.4s ease-in-out;
}

.input:focus {
  border-color: #5e63e5;
  outline: none;
}
